/venv
.env
.vscode
# Ignore all __pycache__ folders recursively
__pycache__/

# Optionally, ignore compiled Python files
*.pyc
*.pyo
*.pyd
ticket-system-frontend/ecosystem.config.cjs
auth_info/
node_modules/
